html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 40%;
  bottom: 15%;
}

.signup button {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: black;
}

.signup button a {
  color: white;
  text-decoration: none;
}

.signup button a:hover {
  color: #00B4DB;
}

.signup h3 {
  margin: 3px;
  font-size: 12px;
}